{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "parser": "jsonc",
        "trailingComma": "none",
        "quoteProps": "preserve"
      }
    }
  ]
}
